* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #f5f6fa;
}

/* NAVBAR */
.navbar {
    background-color: #0A1C3A;
    padding: 15px 40px;
    color: white;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-circle img {
    width: 80%;
}

/* CONTAINER */
.container {
    padding: 50px;
}

/* CARD */
.item-card {
    display: flex;
    border: 3px solid #0A1C3A;
    padding: 30px;
    background: white;
    gap: 40px;
}

/* IMAGE */
.item-image {
    width: 300px;
    height: 350px;
    border: 3px solid #0A1C3A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DETAILS */
.item-details {
    flex: 1;
}

/* TITLE BOX */
.title-box {
    border: 3px solid #0A1C3A;
    padding: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.title-box h2 {
    font-size: 28px;
}

/* TABLE */
.details-table {
    width: 100%;
    font-size: 20px;
    border-spacing: 0 15px;
}

.details-table td:first-child {
    width: 200px;
}

/* BUTTON GROUP */
.button-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.home-btn {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 3px solid #0A1C3A;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.home-btn:hover {
    background-color: #0A1C3A;
    color: white;
}